.card-header .card-message {
	text-align: left;
}

.form-group LABEL {
	font-weight: bold;
	margin-left: 5px;
	margin-bottom: 2px;
	font-size: 90%;
}

.form-title {
	background-color: #ccc;
	border-radius: 5px;
	padding: 5px;
	font-weight: bold;
}

.section-min-height {
	min-height: 500px;
}

.product-category-list-limit-char {
	max-width: 20ch;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#preloader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.3);
}

#preloader .lds-facebook {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.lds-facebook {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-facebook div {
	display: inline-block;
	position: absolute;
	left: 8px;
	width: 16px;
	background: #fff;
	animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
	left: 8px;
	animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
	left: 32px;
	animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
	left: 56px;
	animation-delay: 0;
}

.cart-box-payment-type {
	background-color: #F1F1F1;
    border-radius: 15px;
    padding: 14px 15px;
    margin-bottom: 29px;
}

@keyframes lds-facebook {
	0% {
		top: 8px;
		height: 64px;
	}
	50%, 100% {
		top: 24px;
		height: 32px;
	}
}

